{% extends "base.html" %}
{% load static %}

{% block title %}Информация по категориям{% endblock %}

{% block main_content %}
  <h1>Категории и числа</h1>
  <ul>
  {% for cat in counts %}
            <li><span class="badge badge-info">{{ cat }}: {{ cat.todo_count }}</span></li>
            <span class="badge badge-info">{{ cat.name }}: {{ count }}</span>
            <span style="color: red">Высокий приоритет ({{ cat.high_priority }})</span>
            <span style="color: black">Средний приоритет ({{ cat.medium_priority }})</span>
            <span style="color: blue">Низкий приоритет ({{ cat.low_priority }})</span>
  {% empty %}
    <li>Список задач по категориям пуст. Попробуйте добавить их из админки</li>
  {% endfor %}
  </ul>
{% endblock %}
